body{
    background-image: url("../images/back.png");
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: gold;
    font-style: oblique;
}
h2{
    text-align: center;
    color: lime;
}
h3{
    text-align: center;
    color: black;
    font-weight: bold;
    font-style: oblique;
}
#video{
    width: 50%;
    margin-left: 25%;
}
.playnow{
    margin-left: 35%;
}
#round3{
    background-color: black;
    border-color: black;
    border-radius: 100px;
}
#round5{
    background-color: black;
    border-color: black;
    border-radius: 100px;
    margin-left: 15%;
}
